.wrapper{
    border: 2px solid aqua;
    background-image: linear-gradient(#4568dc , #b06ab3);
    height: 1100px;
    width: 1200px;
    margin-left: 150px;
}
.container{
    border: 1px solid violet;
    background-color: white;
    margin-top: 150px;
    margin-bottom: 250px;
    height: 850px;
    width: 1000px;
    margin-left: 90px;
}
.container1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    /* border: 1px solid black; */
    margin-left: 50px;
}
.container2{
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: 500px repeat(1,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
}

.box{
    height: 230px;
    width: 450px;
    border: 1px solid violet;
    box-shadow:  -5px -5px 25px blueviolet; 
}

#b1{
    margin-left: 40px;
}
#b2{
    margin-right: 300px;
} 

#b3{
    margin-left: 40px;
}

#b5{
    margin-left: 40px;
}

.class1{
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#center{
    text-decoration: underline;
    margin-left: 70px;
}
#p{
    margin-top: 30px;
    margin-left: 230px;
}
#Subscribe{
    font-weight: bolder;
    margin-top: 30px;
    font-size: larger;
}

#color{
    color: blueviolet;
}

#color1{
    color: green;
}
