body{
    background-color: rgb(242, 218, 187);
}
.wrapper{
    height: 340px;
    width: 500px;
    /* border: 1px solid black; */
    display: flex;
    margin-left: 380px;
    margin-top: 100px;
    border-radius: 25px;
    background-color: white;
}

.title{
    font-size: medium;
    color: lightslategrey;
    margin-left: 30px;
    letter-spacing: 3px;
}

.title2{
    margin-left: 30px;
}
.delete{
    font-size: medium;
    color: black;
}

.title3{
    margin-left: 15px;
    background-color: green;
    color: white;
    padding-left: 50px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
}

.title4{
    margin-left: 30px;
    font-family: "myFont-2";
    font-weight: bolder;
    font-size: 22px;
    letter-spacing: 1px;
    color: green;
}

.mydiv{
    border-radius: 25px 0px 0px 25px;
    background-position: center;
    background-size: cover;
}